/*  Colors                                                                          */
 
.bg-black-charcoal { background-color: #212121;}
.bg-chrome-silver { background-color: #D8DBDE;}
.bg-viridian-green { background-color: #009BA2;}
.bg-white { background-color: #FEFEFE;}

.black-charcoal { color: #212121;}
.chrome-silver { color: #D8DBDE;}
.viridian-green { color: #009BA2;}
.white { color: #FEFEFE;}


